body {
  color: #141414;
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.app-wrapper-big {
  align-items: center;
}

.carousel {
  overflow: hidden;
  width: 1024px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
  margin-top: 32px;
}

.searchbar {
  margin-top: 48px;
  margin-left: 48px;
  margin-bottom: 48px;
}

.indicator {
  height: 32px;
  cursor: pointer;
}

.indicator-left {
  transform: rotate(180deg);
  margin-right: 8px;
}

.link-mobile {
  font-size: 3rem;
  font-weight: 900;
}

.link {
  cursor: pointer;
}

.link-arrow {
  height: 1em;
}

.link-arrow-mobile {
  height: 2em;
}

.dot-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.dot {
  margin: 12px;
  height: 24px;
  width: 24px;
  background: #ebebeb;
  border-radius: 25px;
}

.filled-dot {
  background: #141414;
}
